# Please, PLEASE make your own system-specific gitignore for system-specific
# temporary files etc

__pycache__

# Builds
libnative.so
libnative.dylib
Audionodes.zip


# CMake
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake

# Visual Studio
.vs/
*.vcxproj
*.vcxproj.*
*.sln
Debug/
Release/
Win32/
native.dir/
x64/
