# Please, PLEASE make your own system-specific gitignore for system-specific
# temporary files etc

__pycache__

# Nope
# # OS Specific files
# .directory
# .DS
# __MACOSX
# .kdev4/
# *.kdev4
# *~
# .idea
# .DS_Store
