# Please, PLEASE make your own system-specific gitignore for system-specific
# temporary files etc

__pycache__

# Builds
libnative.so
Audionodes.zip

# Nope
# # OS Specific files
# .directory
# .DS
# __MACOSX
# .kdev4/
# *.kdev4
# *~
# .idea
# .DS_Store

# CMake
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
